.home {
    padding: 6rem 9%;
    background-color: #f0f0f0;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .box {
    background-size: cover;
    padding: 10rem 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    padding: 0;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
  
  .content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: black;
  }
  
  .content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: black;
  }
  
  .btn {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  