/* Navbar.css */

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%280, 0, 0, 0.5%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
}

.collapse.navbar-collapse {
  text-align: right;
}

.navbar-nav {
  margin-left: auto;
}

@media (max-width: 992px) {
  .collapse.navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    top: 70px; /* Height of the navbar */
    left: 0;
    z-index: 1000;
  }

  .nav-item {
    padding: 10px 0;
  }

  .navbar-brand {
    margin-left: 15px;
  }
}
