.projects {
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.box {
  flex: 0 0 calc(50%); /* Show 2 boxes at a time */
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.5s ease;
}

.box .image img {
  width: 100%;
  height: auto;
}

.box .content {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons .btn {
  text-decoration: none;
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-icon {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  color: #007bff;
}

.btn-icon:hover {
  color: #0056b3;
}
